h1 { 
    border: 2px solid green; 
}
.box { 
    border: 3px solid red; 
    padding : 2em; 
    color:  red;
    margin-bottom:2em;  
}
.box2 h1{ 
    color: blue; 
    border: 3px dashed blue;
    padding: 1em;

    box-sizing:border-box
}
.blokk li { 
    border: 2px dashed green;
    padding: 1em;
    margin: 1em;  
}
.inline li {
    display: inline;
    border: 2px dashed blue;
    color: red;
    padding: 1em;
    margin: 1em
}
.inlineblokk li {
    display: inline-block;
    border: 2px dashed red;
    color: blue;
    padding: 1em;
    margin: 1em
}

     