*{
    box-sizing: border-box;
}
body {
    max-width: 50em;
    margin: 1em auto;
}
.box {
    foat: left;
    padding: 1em;
    border: 1px solid;
    width: 50%;
}
.bigl {
    float: left;
    padding: 0 .3m;
    font-size: 4em;    
}
.imgR {
    float:right;
    padding: 0 .3em;
    width: 40%;
}