* {
    box-sizing: border-box;
}
/* GRID AREA */
header {
    grid-area: header;
}
.content {
    grid-area: content;
}
footer {
    grid-area: footer;
}
/* dálkar í content */
.a1 {
    grid-area: aside1;
}
.a2 {
    grid-area: aside2;
}
.art {
    grid-area: article
}

/* grid template area */
body {
    display: grid;
    grid-gap: 0;
    grid-template-areas: 
        "header"
        "content"
        "footer";
    grid-template-columns: 1fr; 
    color:white;
    background-color: royalblue;
    margin: 0;
}
.bgrunnur {
    background-color: white;
    color: black;
    width: 100%;

}
.wrapper {

    max-width: 60em;
    margin: 0 auto; 

    padding:1em;
}
/*.topmenu {
    display: flex;
    flex-flow: column;
    justify-content: center;
}*/
.topmenu, footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
/* base layout */
header, nav, main, footer {
    border: 1px solid black;
}
header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
}
.topmenu {
    list-style-type: none;
    margin:0;
    padding: .4em 0;
}
blockquote {
    background-color: grey;
    color: white;
    font-weight: 600;
	padding:1em;
}