* {
    box-sizing: border-box;
}
/* GRID AREA */
header {
    grid-area: header;
}
.topnav {
    grid-area: topnav;
}
.content {
    grid-area: content;
}
footer {
    grid-area: footer;
}
/* dálkar í content */
.a1 {
    grid-area: aside1;
}
.a2 {
    grid-area: aside2;
}
.art {
    grid-area: article
}

/* grid template area */
body {
    display: grid;
    grid-gap: 0;
    grid-template-areas: 
        "header"
        "topnav"
        "content"
        "footer";
    grid-template-columns: 1fr; 
    max-width: 60em;
    margin: 0 auto;
}
.content {
    display: grid;
    grid-gap: 2em;
    grid-template-areas: 
        "aside2 article aside1";
    grid-template-columns:1fr 3fr 1fr;   

    padding:1em;
}
/*.topmenu {
    display: flex;
    flex-flow: column;
    justify-content: center;
}*/
.topmenu, footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
/* base layout */
header, nav, main, footer {
    border: 1px solid blue;
}
.topmenu {
    list-style-type: none;
    margin: 0;
    padding: .4em 0;
}
blockquote {
    background-color: rgb(255, 0, 0);
    color: white;
    font-weight: 600;
	padding:1em;
}